/* EXISTING */
:root {
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
}
/* OVERRIDES */
._9dls.charcoal_theme,
._9dls.charcoal_theme .__fb-light-mode,
._9dls.charcoal_theme .__fb-dark-mode {
  --base-lemon: #bd8500;
  --card-background: #202020;
  --chat-incoming-message-bubble-background-color: #2a2a2a;
  --comment-background: rgba(255, 255, 255, 0.06);
  --comment-footer-background: rgba(255, 255, 255, 0.06);
  --disabled-button-background: rgba(255, 255, 255, 0.06);
  --disabled-icon: rgba(121, 121, 121, 0.6);
  --disabled-text: rgba(121, 121, 121, 0.6);
  --divider: rgba(255, 255, 255, 0.12);
  --filter-disabled-icon: brightness(0) invert(0.37);
  --filter-placeholder-icon: brightness(0) invert(0.47);
  --filter-primary-icon: brightness(0) invert(0.47);
  --filter-secondary-icon: brightness(0) invert(0.47);
  --hosted-view-selected-state: rgba(255, 255, 255, 0.05);
  --highlight-bg: rgba(255, 255, 255, 0.06);
  --hover-overlay: rgba(255, 255, 255, 0.06);
  --media-inner-border: rgba(255, 255, 255, 0.12);
  --media-outer-border: #131313;
  --messenger-card-background: #131313;
  --messenger-reply-background: #2a2a2a;
  --overlay-alpha-80: rgba(0, 0, 0, 0.5);
  --nav-bar-background-gradient: rgba(0, 0, 0, 0);
  --placeholder-icon: #797979;
  --placeholder-text: #797979;
  --popover-background: #202020;
  --positive-background: #202020;
  --press-overlay: rgba(255, 255, 255, 0.05);
  --primary-deemphasized-button-background: rgba(255, 255, 255, 0.06);
  --primary-deemphasized-button-pressed: rgba(255, 255, 255, 0.05);
  --primary-deemphasized-button-pressed-overlay: rgba(255, 255, 255, 0.06);
  --primary-deemphasized-button-text: var(--accent);
  --primary-icon: #797979;
  --primary-text: #d2d2d2;
  --secondary-button-background: rgba(255, 255, 255, 0.06);
  --secondary-button-pressed: rgba(255, 255, 255, 0.05);
  --secondary-button-text: #d2d2d2;
  --secondary-icon: #797979;
  --secondary-text: #797979;
  --shadow-inset: rgba(255, 255, 255, 0.12);
  --surface-background: #131313;
  --wash: #2a2a2a;
  --web-wash: #202020;
}
._9dls.midnight_theme,
._9dls.midnight_theme .__fb-light-mode,
._9dls.midnight_theme .__fb-dark-mode {
  --base-lemon: #bd8500;
  --card-background: #121212;
  --chat-incoming-message-bubble-background-color: #262626;
  --comment-background: rgba(255, 255, 255, 0.1);
  --comment-footer-background: rgba(255, 255, 255, 0.1);
  --disabled-button-background: rgba(255, 255, 255, 0.1);
  --disabled-icon: rgba(132, 132, 132, 0.6);
  --disabled-text: rgba(132, 132, 132, 0.6);
  --divider: rgba(255, 255, 255, 0.17);
  --filter-disabled-icon: brightness(0) invert(0.4);
  --filter-placeholder-icon: brightness(0) invert(0.5);
  --filter-primary-icon: brightness(0) invert(0.5);
  --filter-secondary-icon: brightness(0) invert(0.5);
  --hosted-view-selected-state: rgba(255, 255, 255, 0.08);
  --highlight-bg: rgba(255, 255, 255, 0.1);
  --hover-overlay: rgba(255, 255, 255, 0.1);
  --media-inner-border: rgba(255, 255, 255, 0.17);
  --media-outer-border: #000000;
  --messenger-card-background: #000000;
  --messenger-reply-background: #262626;
  --overlay-alpha-80: rgba(0, 0, 0, 0.5);
  --nav-bar-background-gradient: rgba(0, 0, 0, 0);
  --placeholder-icon: #848484;
  --placeholder-text: #848484;
  --popover-background: #121212;
  --positive-background: #121212;
  --press-overlay: rgba(255, 255, 255, 0.08);
  --primary-deemphasized-button-background: rgba(255, 255, 255, 0.1);
  --primary-deemphasized-button-pressed: rgba(255, 255, 255, 0.08);
  --primary-deemphasized-button-pressed-overlay: rgba(255, 255, 255, 0.1);
  --primary-deemphasized-button-text: var(--accent);
  --primary-icon: #848484;
  --primary-text: #d0d0d0;
  --secondary-button-background: rgba(255, 255, 255, 0.1);
  --secondary-button-pressed: rgba(255, 255, 255, 0.08);
  --secondary-button-text: #d0d0d0;
  --secondary-icon: #848484;
  --secondary-text: #848484;
  --shadow-inset: rgba(255, 255, 255, 0.17);
  --surface-background: #000000;
  --wash: #262626;
  --web-wash: #121212;
}
._9dls.deepblue_theme,
._9dls.deepblue_theme .__fb-light-mode,
._9dls.deepblue_theme .__fb-dark-mode {
  --base-lemon: #bd8500;
  --card-background: #1d2731;
  --chat-incoming-message-bubble-background-color: #2d3640;
  --comment-background: rgba(0, 0, 0, 0.18);
  --comment-footer-background: rgba(0, 0, 0, 0.15);
  --disabled-button-background: rgba(0, 0, 0, 0.18);
  --disabled-icon: rgba(108, 113, 119, 0.6);
  --disabled-text: rgba(108, 113, 119, 0.6);
  --divider: rgba(0, 0, 0, 0.25);
  --filter-disabled-icon: brightness(0) invert(0.33);
  --filter-placeholder-icon: brightness(0) invert(0.43);
  --filter-primary-icon: brightness(0) invert(0.43);
  --filter-secondary-icon: brightness(0) invert(0.43);
  --hosted-view-selected-state: rgba(0, 0, 0, 0.13);
  --highlight-bg: rgba(0, 0, 0, 0.15);
  --hover-overlay: rgba(0, 0, 0, 0.15);
  --media-inner-border: rgba(0, 0, 0, 0.25);
  --media-outer-border: #1b252f;
  --messenger-card-background: #1b252f;
  --messenger-reply-background: #2d3640;
  --overlay-alpha-80: rgba(0, 0, 0, 0.5);
  --nav-bar-background-gradient: rgba(0, 0, 0, 0);
  --placeholder-icon: #6c7177;
  --placeholder-text: #6c7177;
  --popover-background: #1d2731;
  --positive-background: #1d2731;
  --press-overlay: rgba(0, 0, 0, 0.13);
  --primary-deemphasized-button-background: rgba(0, 0, 0, 0.18);
  --primary-deemphasized-button-pressed: rgba(0, 0, 0, 0.13);
  --primary-deemphasized-button-pressed-overlay: rgba(0, 0, 0, 0.15);
  --primary-deemphasized-button-text: var(--accent);
  --primary-icon: #6c7177;
  --primary-text: #e1e1e1;
  --secondary-button-background: rgba(0, 0, 0, 0.18);
  --secondary-button-pressed: rgba(0, 0, 0, 0.13);
  --secondary-button-text: #e1e1e1;
  --secondary-icon: #6c7177;
  --secondary-text: #6c7177;
  --shadow-inset: rgba(0, 0, 0, 0.25);
  --surface-background: #1b252f;
  --wash: #2d3640;
  --web-wash: #1d2731;
}
/* --------- OVERRIDES ------- */
._9dls.charcoal_theme .nwpbqux9,
._9dls.charcoal_theme .hgaippwi,
._9dls.charcoal_theme ._1og-,
._9dls.midnight_theme .nwpbqux9,
._9dls.midnight_theme .hgaippwi,
._9dls.midnight_theme ._1og-,
._9dls.deepblue_theme .nwpbqux9,
._9dls.deepblue_theme .hgaippwi,
._9dls.deepblue_theme ._1og- {
  background-color: var(--card-background) !important;
}
._9dls.charcoal_theme .n1jkxfxr,
._9dls.midnight_theme .n1jkxfxr,
._9dls.deepblue_theme .n1jkxfxr {
  background-color: var(--secondary-button-background) !important;
}
._9dls.charcoal_theme svg.hwsy1cff,
._9dls.charcoal_theme svg[fill="#000"],
._9dls.charcoal_theme svg[fill="black"],
._9dls.charcoal_theme path[fill="#000"],
._9dls.charcoal_theme path[fill="black"],
._9dls.midnight_theme svg.hwsy1cff,
._9dls.midnight_theme svg[fill="#000"],
._9dls.midnight_theme svg[fill="black"],
._9dls.midnight_theme path[fill="#000"],
._9dls.midnight_theme path[fill="black"],
._9dls.deepblue_theme svg.hwsy1cff,
._9dls.deepblue_theme svg[fill="#000"],
._9dls.deepblue_theme svg[fill="black"],
._9dls.deepblue_theme path[fill="#000"],
._9dls.deepblue_theme path[fill="black"] {
  fill: var(--secondary-text);
}
._9dls.charcoal_theme .oaz4zybt,
._9dls.midnight_theme .oaz4zybt,
._9dls.deepblue_theme .oaz4zybt {
  box-shadow: none!important;
}
._9dls.charcoal_theme .x1p6odiv,
._9dls.midnight_theme .x1p6odiv,
._9dls.deepblue_theme .x1p6odiv {
  filter: var(--filter-secondary-icon) !important;
}
._9dls.charcoal_theme .sp_Ak9mPwp2uaF_2x.sx_b00c79,
._9dls.midnight_theme .sp_Ak9mPwp2uaF_2x.sx_b00c79,
._9dls.deepblue_theme .sp_Ak9mPwp2uaF_2x.sx_b00c79 {
  filter: var(--filter-secondary-icon) !important;
}
._9dls.charcoal_theme .bafdgad4,
._9dls.midnight_theme .bafdgad4,
._9dls.deepblue_theme .bafdgad4 {
  box-shadow: 0 1px 0px var(--divider) !important;
}
._9dls.charcoal_theme .q2y6ezfg .oo9gr5id,
._9dls.midnight_theme .q2y6ezfg .oo9gr5id,
._9dls.deepblue_theme .q2y6ezfg .oo9gr5id {
  color: var(--always-black);
}
._9dls.charcoal_theme .sp_bxqiRnRQ4Q3_2x,
._9dls.charcoal_theme .sp_bxqiRnRQ4Q3_2x,
._9dls.charcoal_theme .sp_hsafS-1bBqt_2x,
._9dls.midnight_theme .sp_bxqiRnRQ4Q3_2x,
._9dls.midnight_theme .sp_bxqiRnRQ4Q3_2x,
._9dls.midnight_theme .sp_hsafS-1bBqt_2x,
._9dls.deepblue_theme .sp_bxqiRnRQ4Q3_2x,
._9dls.deepblue_theme .sp_bxqiRnRQ4Q3_2x,
._9dls.deepblue_theme .sp_hsafS-1bBqt_2x {
  filter: var(--filter-secondary-icon) !important;
}
._9dls.charcoal_theme .cvgnql8j,
._9dls.midnight_theme .cvgnql8j,
._9dls.deepblue_theme .cvgnql8j {
  --filter-secondary-icon: var(--filter-always-white);
}
._9dls.charcoal_theme .lupvgy83,
._9dls.midnight_theme .lupvgy83,
._9dls.deepblue_theme .lupvgy83 {
  --secondary-text: var(--primary-text);
}
._9dls.charcoal_theme .nqmqzb3c .tdjehn4e {
  --secondary-button-background: rgba(255, 255, 255, 0.06);
}
._9dls.midnight_theme .nqmqzb3c .tdjehn4e {
  --secondary-button-background: rgba(255, 255, 255, 0.1);
}
._9dls.deepblue_theme .nqmqzb3c .tdjehn4e {
  --secondary-button-background: rgba(0, 0, 0, 0.18);
}
